export(CNN_varIMP_NULL_model)
export(CNN_varIMP_permute)
export(MLP_varIMP_NULL_model)
export(MLP_varIMP_permute)
export(DeepGenomeScan)
export(DLqvalues)
export(varImp)
import(keras)
import(h2o)
import(kerasR)
import(caret)
import(robust)
import(qvalue)
import(NeuralNetTools)
import(RSNNS)
import(neuralnet)
import(FCNN4R)