export(CNN_varIMP_NULL_model)
export(CNN_varIMP_permute)
export(MLP_varIMP_NULL_model)
export(MLP_varIMP_permute)
export(DeepGenomeScan)
export(DLqvalues)
S3method(varImp,train)
import(caret)
import(robust)
import(qvalue)
import(NeuralNetTools)
S3method(DeepGenomeScan,default)
S3method(DeepGenomeScan,formula)
S3method(DeepGenomeScan,recipe)
S3method(DeepGenomeScan,keras)
S3method(DeepGenomeScan,CNN)
